.remoteness{
height: 100px;
width: 100%;
margin-top: 10px;

}

.remote-icon{
height:100%;
position: static;
float: left;
}

.remote-icon-right{
height:100%;
position: static;
float: right;
}

.remote-title{
padding:5px;
display:inline-block;
margin-top: 20px;
color: #fff;
}

.fallback{
width:100%;
position: static;
float: left;
}


#light-title{
background-color: #ff9900;
}

#light{
background-color: #ff9900;
}

#sound{
background-color: #b5da55;
}

#sound-title{
background-color: #b5da55;
}

#distance{
background-color: #5f5f5f;
}

#distance-title{
background-color: #5f5f5f;
}